@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --backColor: #051A30;
    --headerColor: #04121F;
    --accentTeal: #00BAA6;
    --mainTextColor: #6D7CB1;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--backColor);
    color: var(--mainTextColor);
    font-family: "Montserrat";
}

header {
    width: 100%;
    height: 10vh;
    padding: 0 7% 0 7%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: var(--headerColor);
    color: var(--mainTextColor);
    justify-content: space-between;
    transition: box-shadow 500ms ease-in-out;
    opacity: 1;
    border-bottom: solid white 1px;
}


a {
    text-decoration: none;
    color: inherit;
}

header ul {
    margin-right: 12%;
    display: flex;
    align-items: center;
    gap: 2vw;
    list-style-type: none;
}

#navElement {
    transition: all 300ms ease-in-out;
    position: relative;
}

#navElement::after {
    content: '';
    position: absolute;
    height: 0.06rem;
    width: 100%;
    background-color: #00BAA6;
    left: 0;
    bottom: -5px;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    opacity: 0.7;
    transition: all 0.3s ease;
}

#navElement:hover::after {
    transform: scale(1,1);
    opacity: 1;
}

#navElement:hover {
    color: #a8b4de;
}

#logo {
    height: 65px;
    width: 65px;
    fill: rgb(225, 225, 225);
}


#contactButton {
    width: 100px;
    height: 30px;
    font-weight: 600;
    color: white;
    border: solid var(--headerColor) 1px;
    border-radius: 5px;
    background: rgb(0,145,130);
    background: linear-gradient(121deg, rgba(0,145,130,1) 0%, rgba(0,186,166,1) 100%); 
    transition: all 300ms ease-in-out; 
    letter-spacing: 0.1rem;
    cursor: pointer;
}

#contactButton:hover {
    border: solid white 1px;
}

#menuIcon {
    margin-right: 20%;
    height: 30px;
    width: 30px;
    z-index: 1001;
    display: none;
    position: relative;
}

#menuIcon > img {
    height: 30px;
    width: auto;
}

#subMenu {
    position: absolute;
    left: -45px;
    top: 57px;
    height: 18vh;
    width: 20vw;
    background-color: var(--backColor);
    border: solid white 2px;
    color: rgb(213, 213, 213);
    box-shadow: 0px 0px  10px var(--accentTeal);
    padding: 10px 4px 10px 15px;
    border-radius: 10px;
    display: none;
    transition: all 300ms ease-in-out;
}

#subMenu ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

#subMenu ul li {
    cursor: pointer;
}

#subMenu ul li:hover {
    color: white;
    border-bottom: solid white 2px;
}

/* SIDE ICONS */
.sideIcons {
    position: fixed;
    left: 5%;
    bottom: 0%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    transition: all 300ms ease-in-out;
}

#githubIcon {
    transition: all 300ms ease-in-out;
}


#linkedinIcon {
    transition: all 300ms ease-in-out;
}

#mailIcon {
    padding-left: 2px;
    transition: all 300ms ease-in-out;
}


#githubIcon:hover {
    transform: scale(105%);
}

#linkedinIcon:hover {
    transform: scale(105%);
}

#mailIcon:hover {
    transform: scale(105%);
}

#verticalLine {
    height: 20vh;
    width: 1px;
    background-color: var(--accentTeal);
}


.mainContent {
    margin: 0 15% 0 15%;
}

#home {
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    justify-content: space-between;
}

#downButton {
    height: 75px;
    width: auto;
    margin: 30px 30px 30px 45%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

#downButton:hover {
    transform: scale(110%);
    fill: var(--backColor);
}

#profilePic {
    position: relative;
    height: 230px;
    width: 230px;
    border-radius: 100%;
    z-index: 100;
    transition: all 400ms ease-in-out;
}

#profilePicDiv {
    position: relative;
}

#profilePicDiv:hover #backShadow {
    left: 30px;
}

#profilePicDiv:hover #profilePic {
    transform: translateX(-20px);
}



#backShadow {
    z-index: 0;
    position: absolute;
    height: 230px;
    width: 230px;
    border-radius: 100%;
    left: 20px;
    top: 10px;
    background-color: var(--accentTeal);
    transition: all 400ms ease-in-out;

}

@media (width < 850px) {
    header > ul {
        display: none;
    }

    #leftHome {
        width: 80% !important;
    }

    #menuIcon {
        display: block;
    }

    #home {
        display: flex;
        flex-direction: column;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .about > #aboutText {
        width: 80% !important;
    }
}

#arrow {
    height:15px;
    width: auto;
    transition: all 300ms ease-in-out;
}

.institutionDesc {
    display: none;
    color: #5a6692;
}

